@charset "UTF-8";
/*---基本样式---*/
html,
body {
  font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', '\5FAE\8F6F\96C5\9ED1', Arial, sans-serif;
  width: 100%;
  font-size: 14px;
  overflow: auto;
}

html,
* {
  outline: none;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  margin: 0;
  padding: 0;
}

*,
:after,
:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: '';
}

.clearfix:after {
  clear: both;
}

a {
  text-decoration: none;
}

img {
  border: 0;
  vertical-align: initial;
  margin: 0;
  padding: 0;
  border: 0;
}

li {
  list-style-type: none;
  line-height: 24px;
}

li span.title {
  color: #999;
}

.always {
  page-break-after: always;
}

.line-15 {
  line-height: 1.5;
}

.through {
  text-decoration: line-through;
}

.middle {
  vertical-align: middle;
}

.m0 {
  margin: 0;
}

.m5 {
  margin: 5px;
}

.m10 {
  margin: 10px;
}

.m15 {
  margin: 15px;
}

.m20 {
  margin: 20px;
}

.ma {
  margin: 0 auto;
}

.mt0 {
  margin-top: 0px;
}

.mt2 {
  margin-top: 2px;
}

.mt5 {
  margin-top: 5px;
}

.mt10 {
  margin-top: 10px;
}

.mt15 {
  margin-top: 15px;
}

.mt20 {
  margin-top: 20px;
}

.mt30 {
  margin-top: 30px;
}

.m_15 {
  margin: -15px;
}

.mt_1 {
  margin-top: -1px;
}

.mt_2 {
  margin-top: -2px;
}

.mt_3 {
  margin-top: -3px;
}

.mt_5 {
  margin-top: -5px;
}

.mt_10 {
  margin-top: -10px;
}

.mt_11 {
  margin-top: -11px;
}

.mt_15 {
  margin-top: -15px;
}

.mt_16 {
  margin-top: -16px;
}

.mb0 {
  margin-bottom: 0;
}

.mb3 {
  margin-bottom: 3px;
}

.mb5 {
  margin-bottom: 5px;
}

.mb10 {
  margin-bottom: 10px;
}

.mb15 {
  margin-bottom: 15px;
}

.mb20 {
  margin-bottom: 20px;
}

.mb30 {
  margin-bottom: 30px;
}

.ml5 {
  margin-left: 5px !important;
}

.ml_3 {
  margin-left: -3px;
  cursor: default;
}

.ml3 {
  margin-left: 3px;
}

.ml10 {
  margin-left: 10px;
}

.ml15 {
  margin-left: 15px;
}

.ml20 {
  margin-left: 20px;
}

.ml30 {
  margin-left: 30px;
}

.ml40 {
  margin-left: 40px;
}

.ml50 {
  margin-left: 50px;
}

.mr0 {
  margin-right: 0;
}

.mr3 {
  margin-right: 3px;
}

.mr5 {
  margin-right: 5px;
}

.mr10 {
  margin-right: 10px;
}

.mr15 {
  margin-right: 15px;
}

.mr20 {
  margin-right: 20px;
}

.mr50 {
  margin-right: 50px;
}

.p0 {
  padding: 0;
}

.p5 {
  padding: 5px;
}

.p10 {
  padding: 10px;
}

.p15 {
  padding: 15px;
}

.p20 {
  padding: 20px;
}

.p30 {
  padding: 30px;
}

.pl5 {
  padding-left: 5px;
}

.pl10 {
  padding-left: 10px;
}

.pl15 {
  padding-left: 15px;
}

.pl20 {
  padding-left: 20px;
}

.pl25 {
  padding-left: 25px;
}

.pl45 {
  padding-left: 45px;
}

.pl30 {
  padding-left: 30px;
}

.pl40 {
  padding-left: 40px;
}

.pl50 {
  padding-left: 50px;
}

.pl60 {
  padding-left: 60px;
}

.pl80 {
  padding-left: 80px;
}

.pl100 {
  padding-left: 100px;
}

.pr0,
.pr0 input {
  padding-right: 0;
}

.pr5 {
  padding-right: 5px;
}

.pr10 {
  padding-right: 10px;
}

.pr15 {
  padding-right: 15px;
}

.pr20 {
  padding-right: 20px;
}

.pt0 {
  padding-top: 0;
}

.pt3 {
  padding-top: 3px;
}

.pt5 {
  padding-top: 5px;
}

.pt10 {
  padding-top: 10px;
}

.pt15 {
  padding-top: 15px;
}

.pt20 {
  padding-top: 20px;
}

.pb0 {
  padding-bottom: 0;
}

.pb3 {
  padding-bottom: 3px;
}

.pb5 {
  padding-bottom: 5px;
}

.pb10 {
  padding-bottom: 10px;
}

.pb15 {
  padding-bottom: 15px;
}

.pb20 {
  padding-bottom: 20px;
}

.tl {
  text-align: left;
}

.tr {
  text-align: right;
}

.tc {
  text-align: center;
}

.b_b1 {
  border-bottom: 1px solid #ddd;
}

.hidden {
  overflow: hidden;
}

.auto {
  overflow: auto;
}

.none {
  display: none;
}

.cursor {
  cursor: pointer;
}

.block {
  display: block;
}

.bold {
  font-weight: bold;
}

.no-bold {
  font-weight: normal;
}

.inline-block {
  display: inline-block;
}

.software {
  margin: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 0 8px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  overflow: hidden;
}

.border {
  border: 1px solid #ebeef5;
}

.drag {
  -webkit-app-region: drag;
}

.no-drag {
  -webkit-app-region: no-drag;
}

.hk-sort.el-table::before {
  height: 0;
}

.hk-sort .el-tag {
  height: auto;
  line-height: inherit;
  padding: 2px 5px;
}

.hk-sort .caret-wrapper {
  height: 15px;
  width: 10px;
}

.hk-sort .sort-caret.ascending {
  top: -5px;
  left: 0;
}

.hk-sort .sort-caret.descending {
  bottom: -3px;
  left: 0;
}

.hk-tabs-case .el-tabs__header,
.hk-tabs-des .el-tabs__header {
  margin: 0;
}

.hk-tabs-case .el-tabs__item,
.hk-tabs-des .el-tabs__item {
  color: #808080;
  height: 32px;
  line-height: 32px;
}

.hk-tabs-case .el-tabs__item.is-active,
.hk-tabs-des .el-tabs__item.is-active {
  color: #0078d7;
}

.hk-tabs-ty.el-tabs--border-card .el-tabs__content {
  padding-top: 0px;
}

.hk-tabs-ty.el-tabs--border-card .el-tabs__header .el-tabs__item {
  color: #222;
  height: 36px;
  line-height: 36px;
}

.hk-tabs-ty.el-tabs--border-card .el-tabs__header .el-tabs__item.is-active {
  color: #0078d7;
  font-weight: bold;
}

.hk-divider {
  position: relative;
}

.hk-divider .el-divider {
  margin: 10px 0;
}

.hk-divider .hk-rigth-button {
  position: absolute;
  right: 0;
  top: -10px;
  z-index: 6;
}

.hk-divider-mt10b5 .el-divider {
  margin-top: 10px;
  margin-bottom: 0px;
}

.hk-divider-mt10b5 .el-divider__text.is-center {
  height: 22px;
  line-height: 22px;
}

.hk-search {
  position: absolute;
  top: -1px;
  left: -7px;
  z-index: 9;
}

.hk-search .el-icon-close {
  position: absolute;
  top: 8px;
  right: 5px;
  z-index: 9;
}

.hk-search-senior {
  display: flex;
  justify-content: flex-start;
}

.hk-tags-manage .el-card__body {
  padding-bottom: 15px;
}

.hk-tags-manage .item {
  padding: 5px;
}

.hk-tags-manage .item .right-fn {
  float: right;
  display: none;
}

.hk-tags-manage .item:hover {
  background: #f1f1f1;
}

.hk-tags-manage .item:hover .right-fn {
  display: block;
}

.hk-top15 {
  top: 26%;
}

.hk-lock {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  background: #f6f7f9 url(../img/index/body-bg.jpg) fixed repeat-x center 0;
  border: 1px solid #fff;
}

.hk-lock-main {
  width: 220px;
  height: 220px;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 100%;
  text-align: center;
  -webkit-box-shadow: 0 0 8px #a0a0a0;
  box-shadow: 0 0 8px #a0a0a0;
  position: relative;
  border-width: 20px;
  border-style: solid;
  border-color: #dff0f8 #1989fa #dff0f8 #1989fa;
  background: #fafafa;
}

.hk-lock-main .el-icon-lock {
  font-size: 100px;
  color: #409eff;
  text-align: center;
  padding-top: 25px;
}

.hk-lock-main .el-icon-lock span {
  font-size: 18px;
  display: block;
  color: #666;
}

.hk-lock-main .pass-lock {
  position: relative;
  z-index: 9;
  padding: 15px;
  height: 100%;
  background: #409eff;
  border: 10px solid #fff;
  border-radius: 100%;
  display: none;
  color: #d3e9ff;
}

.hk-lock-main .pass-lock p.user-name {
  color: #eee;
  font-size: 18px;
  padding-bottom: 5px;
}

.hk-lock-main .pass-lock .hk-lock-button {
  border: 1px solid #7abbff;
  background: #66b1ff;
}

.hk-lock-main .pass-lock .hk-lock-button:hover {
  border-color: #fff;
}

.hk-lock-main .pass-lock .switch:hover {
  color: #fff;
  cursor: pointer;
}

.hk-lock-main:hover .el-icon-lock {
  display: none;
}

.hk-lock-main:hover .pass-lock {
  display: block;
}

.hk-tab-undo .undo {
  display: none;
}

.hk-tab-undo:hover .cancel {
  display: none;
}

.hk-tab-undo:hover .undo {
  display: inline;
}

.work-main .hs-tab-border-card {
  background: none;
  border: 0;
  box-shadow: none;
}

.work-main .hs-tab-border-card .el-tabs__nav-wrap {
  margin-bottom: 0;
}

.work-main .el-tabs--card > .el-tabs__header .el-tabs__item .el-icon-close {
  line-height: 14px;
}

.work-main .aside_top .one_nav .justify-content {
  margin-bottom: 0;
}

.work-main .el-tabs__header {
  margin-bottom: 0;
  background: #f5f5f5;
}

.work-main .el-tabs__item {
  height: 30px;
  line-height: 30px;
}

.work-main .el-tabs__item.is-active {
  background: #fff;
}

.work-main .hk-tabs-two .el-tabs__item,
.work-main .hk-tabs-case .el-tabs__item,
.work-main .hk-tabs-des .el-tabs__item {
  padding: 0 15px;
}

.work-main .hk-tabs-two .el-tabs__header,
.work-main .hk-tabs-two .el-tabs__item.is-active,
.work-main .hk-tabs-case .el-tabs__header,
.work-main .hk-tabs-case .el-tabs__item.is-active,
.work-main .hk-tabs-des .el-tabs__header,
.work-main .hk-tabs-des .el-tabs__item.is-active {
  background: none;
}

.work-main .hk-tabs-two .el-tabs__nav-wrap::after,
.work-main .hk-tabs-case .el-tabs__nav-wrap::after,
.work-main .hk-tabs-des .el-tabs__nav-wrap::after {
  height: 1px;
}

.work-main .hk-tabs-two .el-tabs__nav-wrap {
  background: #fff;
  padding: 10px;
  border: 1px solid #e4e7ed;
  border-bottom: 0;
}

.work-main .el-tabs__nav-next,
.work-main .el-tabs__nav-prev {
  line-height: 30px;
  background: #dadada;
  border: 1px solid #ddd;
  color: #222;
}

.work-main .el-tabs__nav-next:hover,
.work-main .el-tabs__nav-prev:hover {
  background: #0078d7;
  color: #fff;
}

.work-main .hk-icon {
  border-radius: 20%;
  border: 1px solid #ddd;
  padding: 10px;
  position: relative;
  z-index: 99;
  background: #fff;
}

.work-main .hk-icon::after {
  content: "";
  display: block;
  background: #fff;
  position: absolute;
  height: 100%;
  width: 50%;
  top: 0px;
  left: 0;
  filter: alpha(opacity=15);
  /* IE */
  -moz-opacity: 0.15;
  /* 老版Mozilla */
  -khtml-opacity: 0.15;
  /* 老版Safari */
  opacity: 0.15;
  /* 支持opacity的浏览器*/
}

.work-main .font {
  display: block;
  padding-top: 5px;
}

.work-main .hk-close {
  display: none;
  position: absolute;
  right: 2px;
  top: 2px;
  font-size: 18px;
  color: red;
}

.work-main .hk-work-icon {
  padding: 50px 0;
  position: relative;
  margin-top: 10px;
}

.work-main .hk-work-icon .hk-on {
  position: absolute;
  right: 0px;
  z-index: 199;
}

.work-main .hk-icon-on .hk-icon {
  background: #0078d7;
  color: #fff;
}

@media only screen and (min-width: 1200px) {
  .work-main .application .el-col-lg-1 {
    width: 5%;
  }
}

.work-main .hk-work-icon:hover {
  cursor: pointer;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  transform: translate3d(0, -2px, 0);
}

.work-main .hk-work-icon:hover .hk-close {
  display: block;
}

.drop-down-set {
  box-shadow: 0px 1px 8px rgba(200, 200, 200, 0.8);
  background-color: #f9fafe;
  border: 1px solid #fff;
  padding: 10px;
  position: relative;
  margin-top: 10px;
  line-height: 30px;
}

.drop-down-set .el-icon-caret-top {
  position: absolute;
  top: -15px;
  font-size: 20px;
  left: 35px;
  color: #ddd;
}

::-webkit-scrollbar {
  width: 6px;
  -webkit-appearance: none;
  -webkit-app-region: no-drag;
}

::-webkit-scrollbar-track-piece {
  background-color: #fdfdfd;
  -webkit-app-region: no-drag;
}

::-webkit-scrollbar-thumb {
  background: #ddd;
  border-radius: 10px;
  -webkit-app-region: no-drag;
}

::-webkit-scrollbar-thumb:vertical:hover {
  background: #b7b7b7;
  -webkit-app-region: no-drag;
}

::-webkit-scrollbar-thumb:horizontal:hover {
  background: #b7b7b7;
  -webkit-app-region: no-drag;
}

.hk-w100,
.hk-w100 .el-upload,
.hk-w100 .el-upload .el-upload-dragger {
  width: 100%;
}

.hk-w30 {
  width: 30px;
}

.hk-w50 {
  width: 50px;
}

.hk-w60 {
  width: 60px;
}

.hk-w80 {
  width: 80px;
}

.hk-w90 {
  width: 90px;
}

.hk-w110 {
  width: 110px;
}

.hk-w120 {
  width: 120px;
}

.hk-w150 {
  width: 150px;
}

.hk-w180 {
  width: 150px;
}

.hk-w200 {
  width: 200px;
}

.hk-w220 {
  width: 220px;
}

.hk-w350 {
  width: 350px;
}

.hk-w400 {
  width: 400px;
}

.hk-w500 {
  width: 500px;
}

.white-bg {
  background: #fff;
  border-radius: 5px;
  border: 1px solid #e7e7e7;
}

.gray-bg {
  background: #ebedf0;
}

.a0-bg {
  background: #a0a0a0;
}

.bg-fd {
  background: #fdfdfd;
}

.webBg {
  background: #f9f9f9;
}

.f5Bg {
  background: #f5f5f5;
}

.blue-bg {
  background: #0078d7;
}

.blue-bgdf {
  background: #dfefff;
}

.dblue-bg {
  background: #ecf5ff;
}

.green-bg {
  background: green;
}

.orange-bg {
  background: orange;
}

.prompt-bg {
  background: #fcf7e6;
}

.warning-bg {
  background: #e6a23c;
}

.danger-bg {
  background: #f56c6c;
}

.f12 {
  font-size: 12px;
}

.f14 {
  font-size: 14px;
}

.f16 {
  font-size: 16px;
}

.f18 {
  font-size: 18px;
}

.f20 {
  font-size: 20px;
}

.f22 {
  font-size: 22px;
}

.f24 {
  font-size: 24px;
}

.f28 {
  font-size: 28px;
}

.f30 {
  font-size: 30px;
}

.f32 {
  font-size: 32px;
}

.white, .hk-image .el-icon-circle-close {
  color: white;
}

.blue {
  color: #0078d7;
}

.gray {
  color: #829393;
}

.gray-ce {
  color: #cecece;
}

.gray-ce .red {
  color: #cecece;
}

.red {
  color: red;
}

.black {
  color: #111;
}

.green {
  color: green;
}

.orange {
  color: orange;
}

.yellow {
  color: yellow;
}

.o-yellow {
  color: #ff500b;
}

.prompt {
  color: #fcf7e6;
}

.warning {
  color: #e6a23c;
}

.danger {
  color: #f56c6c;
}

.purple {
  color: #5c2277;
}

.success {
  color: #67c23a;
}

.purpleTab {
  background: #5c2277;
  color: #fff;
}

/*---提醒相关---*/
.hk-upload__tip,
.hk-prompt,
.hk-warning,
.hk-danger {
  border: 1px solid #f7e3b2;
  padding: 5px 10px;
  border-radius: 4px;
}

.hk-prompt,
.hk-upload__tip {
  background: #fcf7e6;
}

.hk-warning {
  background: #e6a23c;
  border-color: #e6a23c;
  color: #fff;
}

.hk-danger {
  background: #f56c6c;
  border-color: #f56c6c;
  color: #fff;
}

.tel {
  font-family: 'Times New Roman', Times, serif;
}

.hk-hover:hover,
a:hover,
.hk-hover:hover .el-icon-caret-bottom,
.hk-hover:hover .el-icon-caret-right {
  color: #0078d7;
  cursor: pointer;
}

.hk-hover .el-icon-caret-bottom,
.hk-hover .el-icon-caret-right {
  color: #c0c4cc;
  font-size: 12px;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clearfix {
  clear: both;
  display: block;
  height: 0;
}

hr {
  margin-top: 10px;
  margin-bottom: 10px;
  border: 0;
  border-top: 1px solid #eee;
  height: 0;
}

.hk-iframe-main {
  height: 100%;
  width: 100%;
  overflow: visible;
  position: relative;
}

.hk-iframe {
  position: relative;
  overflow-y: hidden;
  width: 100%;
  height: 100%;
}

.el-tooltip__popper.is-light {
  background-clip: padding-box;
  border-radius: 4px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
  white-space: nowrap;
  border: 0;
}

.el-tooltip__popper.is-light .hk-poptip-body {
  padding: 10px 10px 5px;
}

.el-tooltip__popper.is-light .hk-poptip-footer {
  text-align: right;
  padding: 5px 10px 10px;
}

.el-tooltip__popper.is-light .popper__arrow {
  border: 0;
}

.hk-elem-orange {
  margin-bottom: 10px;
  padding: 10px;
  line-height: 22px;
  border-left: 5px solid #d69519;
  border-radius: 0 2px 2px 0;
  background-color: #fcf8e3;
  color: #c09853;
}

.hk-elem-orange.mb0 {
  margin-bottom: 0;
}

.hk-collapse {
  border: 1px solid #eee;
}

.hk-collapse .absTag {
  position: absolute;
  right: 50px;
}

.hk-collapse .el-checkbox__label {
  padding-left: 5px;
}

.hk-collapse .el-collapse-item .is-active {
  background: #ecf5ff;
}

.hk-collapse tr.hk-tr-gray {
  background: #f5f5f5;
}

.hk-collapse .el-collapse-item__header {
  height: 30px;
  line-height: 30px;
  background: #ecf5ff;
  padding: 5px 10px;
}

.hk-collapse .el-collapse-item__content {
  border-bottom: 0;
  padding: 10px;
}

.hk-collapse .hk-table + .hk-table {
  margin-top: 5px;
}

.tags-view-container {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 0 3px 0 rgba(0, 0, 0, 0.04);
  background: #fff;
  border-bottom: 1px solid #d8dce5;
  height: 34px;
  overflow: hidden;
  position: relative;
  padding: 0 15px;
}

.tags-view-container .el-tabs__nav-next,
.tags-view-container .el-tabs__nav-prev {
  line-height: 34px;
  top: 0;
  padding: 0 2px;
}

.tags-view-container .el-tabs__nav-next:hover,
.tags-view-container .el-tabs__nav-prev:hover {
  background: #f1f1f1;
}

.tags-view-container .tags-view-item {
  display: inline-block;
  position: relative;
  cursor: pointer;
  height: 26px;
  line-height: 26px;
  border: 1px solid #d8dce5;
  color: #495060;
  background: #fff;
  padding: 0 8px;
  font-size: 12px;
  margin-right: 5px;
  margin-top: 4px;
}

.tags-view-container .tags-view-item:hover {
  background: #f1f1f1;
}

.tags-view-container .el-icon-close {
  padding: 2px;
  border-radius: 50%;
  text-align: center;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transform-origin: 100% 50%;
}

.tags-view-container .el-icon-close:hover {
  background-color: #b4bccc;
  color: #fff;
}

.tags-view-container .active:hover,
.tags-view-container .active {
  background-color: #0078d7;
  color: #fff;
  border-color: #0078d7;
}

/*---图片---*/
.hk-take-picture {
  flex-wrap: wrap;
}

.hk-take-picture .hk-picFu {
  position: absolute;
  width: 100%;
  z-index: 6;
}

.hk-take-picture .hk-picFu .right {
  margin-right: 30px;
}

.hk-take-picture .hk-numbering {
  position: absolute;
  font-size: 28px;
  font-weight: bold;
  color: #000;
  z-index: 6;
  top: 20px;
  right: 30px;
}

.hk-take-picture .hk-time {
  filter: alpha(opacity=80);
  /* IE */
  -moz-opacity: 0.8;
  /* 老版Mozilla */
  -khtml-opacity: 0.8;
  /* 老版Safari */
  opacity: 0.8;
  /* 支持opacity的浏览器*/
  position: absolute;
  right: 18px;
  bottom: 28px;
  z-index: 6;
  background: #fafafa;
  border: 1px solid #ddd;
  padding: 0 6px;
  color: #666;
  font-size: 14px;
}

.hk-take-picture .hk-retransmission {
  position: absolute;
  top: 55px;
  right: 30px;
  z-index: 9;
  width: 100px;
  height: 100px;
  font-size: 30px;
  line-height: 90px;
  text-align: center;
  font-weight: bold;
  overflow: hidden;
  border: 5px solid #fff;
  color: #fff;
  background: #f44336;
  border-radius: 50%;
}

.hk-take-picture .hk-remake {
  position: absolute;
  left: 22px;
  top: 42px;
}

.hk-take-picture img {
  max-width: 100%;
  padding: 10px;
  border: 1px solid #000;
  margin-bottom: 15px;
}

.hk-ty-icon .hk-icon {
  font-size: 50px;
}

/*---表单---*/
.hk-choose {
  position: relative;
  background: #eff4f9;
}

.hk-choose .hk-choose-set {
  position: absolute;
  top: 5px;
  font-size: 18px;
  color: green;
  right: 5px;
}

textarea.el-textarea__inner,
input.el-input__inner {
  background: #fafafa;
}

textarea.el-textarea__inner:hover, textarea.el-textarea__inner:focus,
input.el-input__inner:hover, input.el-input__inner:focus,
.hk-table-hover tr:hover textarea.el-textarea__inner,
.hk-table-hover tr:hover input.el-input__inner,
.input-white-bg textarea.el-textarea__inner,
.input-white-bg input.el-input__inner {
  background: #fff;
}

.hk-input .hk-close {
  display: none;
}

.hk-input:hover .hk-close {
  display: inline;
}

.hk-input-number .el-input__inner {
  padding-right: 0;
  padding-left: 10px;
}

.hk-mini-input.el-cascader {
  height: 22px;
  line-height: 22px;
  padding: 0 5px;
}

.hk-mini-input .el-textarea__inner,
.hk-mini-input .el-input__inner,
.hk-mini-input .el-tag--small,
.hk-mini-input .el-input__icon {
  height: 22px;
  line-height: 22px;
  padding: 0 5px;
}

.hk-mini-button,
.hk-mini-button.is-round {
  padding: 3px 10px;
}

.hk-mini-button + .el-button {
  margin-left: 5px;
}

.hk-mini-picker.el-range-editor--mini.el-input__inner {
  height: 22px;
  line-height: 22px;
  padding: 0 3px;
  width: 200px;
}

.hk-mini-picker.el-range-editor--mini.el-input__inner .el-range__icon {
  line-height: 22px;
}

.el-date-editor.el-input.date-icon,
.el-date-editor.el-input__inner.date-icon {
  position: absolute;
  top: 0;
  left: 10px;
  filter: alpha(opacity=0);
  /* IE */
  -moz-opacity: 0;
  /* 老版Mozilla */
  -khtml-opacity: 0;
  /* 老版Safari */
  opacity: 0;
  /* 支持opacity的浏览器*/
  width: 0px;
}

.input-w180 input.el-input__inner {
  width: 180px;
}

.operation-function {
  position: absolute;
  right: 5px;
  top: 0;
  display: none;
}

.operation-hover:hover .operation-function {
  display: block;
}

.operation-hover:hover,
.hk-shadow:hover {
  -webkit-box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
}

.hk-ActiveNames .el-collapse-item__content {
  padding-bottom: 0px;
}

.hk-ActiveNames .el-collapse-item__header {
  background: #ebedf0;
  padding: 0 5px;
  height: 30px;
  line-height: 30px;
  font-weight: bold;
  color: #606266;
  border-bottom: 1px solid #fff;
}

.hk-ActiveNames .el-collapse-item__wrap {
  border: 0;
}

.hk-form .hsadmin-calcwidth {
  width: calc(100% - 105px);
}

.hk-form .el-form-item {
  margin-bottom: 0px;
}

.hk-form .el-form-item__error {
  top: 22%;
  left: 103%;
  width: 100%;
  z-index: 99;
}

.hk-form textarea {
  margin-top: 5px;
}

.hk-form .el-form-item__label {
  color: #777;
}

.hk-form .hk-line {
  line-height: 1.5;
  padding-top: 10px;
}

.hk-form-top .el-form-item__label {
  padding-bottom: 0;
}

/*---弹窗---*/
.hk-wauto .el-dialog {
  width: auto;
  background: none;
  box-shadow: none;
}

.hk-dialog-photo .el-dialog__header {
  display: none;
}

.hk-dialog-photo .el-dialog__body {
  padding: 0;
  position: relative;
  text-align: center;
}

.hk-dialog-photo .el-icon-download {
  position: absolute;
  right: 15px;
}

.hk-dialog-photo img {
  max-width: 100%;
  vertical-align: middle;
}

.hk-dialog .el-dialog {
  overflow: auto;
  border-radius: 6px;
}

.hk-dialog .el-dialog__header {
  background: #eceff4;
  padding-top: 12px;
  border-bottom: 1px solid #ddd;
}

.hk-dialog .el-dialog__body {
  padding: 15px;
}

.hk-dialog .el-dialog__footer {
  background: #f8f8f8;
  padding: 10px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid #ddd;
}

.hk-dialog .el-dialog__headerbtn {
  top: 15px;
}

.hk-dialog-blue .el-dialog__header {
  background: #0078d7;
}

.hk-dialog-blue .el-dialog__header .el-dialog__title,
.hk-dialog-blue .el-dialog__header .el-dialog__headerbtn .el-dialog__close {
  color: #fff;
}

.hk-dialog-blue .el-dialog__header .el-dialog__headerbtn .el-dialog__close:hover {
  background: #dc490f;
}

.hk-dialog-header-no .el-dialog__header {
  display: none;
}

.hk-dialog-header-no .el-dialog__body {
  padding: 0;
}

.hk-dialog-diy .el-dialog__body {
  padding: 0;
}

.hk-w-dep .el-dialog {
  width: 700px;
  border-radius: 8px;
  overflow: hidden;
}

.hk-w-dep .el-dialog .hk-ty-bg {
  border: 1px solid #dedede;
  border-radius: 4px;
  background: #f4f6f8;
  padding: 0 15px;
  overflow: auto;
  height: 385px;
}

.hk-w-print .hk-w-mini .el-dialog,
.hk-w-mini .el-dialog {
  width: 400px;
}

.hk-w-small .el-dialog {
  width: 800px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 0 8px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  overflow: hidden;
}

.hk-w-print .el-dialog {
  width: 1024px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 0 8px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  overflow: hidden;
}

/*---基础框架---*/
.main-container {
  min-height: 100%;
  overflow: hidden;
  -webkit-transition: margin-left 0.25s;
  transition: margin-left 0.25s;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.left-side {
  display: block;
  position: relative;
  float: left;
  z-index: 2000;
}

.flex {
  position: absolute;
  right: -13px;
  background-color: #f1f1f1;
  top: 45%;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  cursor: pointer;
  border: 1px solid #ddd;
  padding: 20px 0;
  border-radius: 0 100% 100% 0/20%;
  display: none;
}

.flex:hover {
  background: #0078d7;
  color: #fff;
  padding: 20px 2px;
  right: -19px;
  border-color: #fff;
}

.shrink-dise .flex,
.left-side:hover .flex {
  display: block;
}

.sidebar {
  width: 200px !important;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  z-index: 1;
}

.left-content {
  display: -webkit-box;
  height: 100%;
}

.left-content .sidebar {
  overflow: auto;
}

.left-content .hk-fn-right {
  position: absolute;
  right: 10px;
  z-index: 9;
  top: 0;
}

.left-content .hk-badge {
  background-color: #f56c6c;
  border-radius: 10px;
  color: #fff;
  display: inline-block;
  font-size: 12px;
  height: 16px;
  line-height: 16px;
  padding: 0 4px;
  text-align: center;
  white-space: nowrap;
  border: 1px solid #fff;
  position: absolute;
  top: 4px;
  right: 0px;
}

.left-content .menu-container-header {
  background: #f5f5f5;
  line-height: 30px;
  padding-left: 10px;
  border-bottom: 1px solid #ededed;
}

.left-content .menu-container .el-menu-item {
  height: 60px;
  line-height: 60px;
  position: relative;
  border-bottom: 1px solid #f1f1f1;
}

.left-content .menu-container .el-menu-item .iconfont {
  font-size: 24px;
  padding: 6px;
  color: #aaa;
  background: #f9f9f9;
  border: 1px solid #d6d6d6;
  margin-right: 5px;
  position: relative;
  border-radius: 5px;
}

.left-content .menu-container .el-menu-item .iconfont.el-icon-third-peixun {
  font-size: 20px;
}

.left-content .menu-container .el-menu-item .iconfont::after {
  content: "";
  display: block;
  background: #fff;
  position: absolute;
  height: 100%;
  width: 50%;
  top: 0;
  left: 0;
  filter: alpha(opacity=15);
  /* IE */
  -moz-opacity: 0.15;
  /* 老版Mozilla */
  -khtml-opacity: 0.15;
  /* 老版Safari */
  opacity: 0.15;
  /* 支持opacity的浏览器*/
}

.left-content .menu-container .el-menu-item.is-active:after {
  position: absolute;
  right: 0;
  content: '';
  height: 100%;
  width: 5px;
  background: #0078d7;
}

.left-content .menu-container .el-menu-item.is-active:hover {
  background: none;
}

.left-content .menu-container .el-menu-item.is-active:hover .iconfont {
  color: #0078d7;
}

.left-content .menu-container .el-menu-item.is-active {
  background: #ecf5ff;
}

.left-content .menu-container .el-menu-item.is-active .iconfont {
  color: #0078d7;
  background: #fff;
}

.left-content .menu-container .el-icon-more {
  display: none;
}

.left-content .menu-container .el-menu-item:hover {
  -webkit-box-shadow: 0 0 8px 2px #eee;
  box-shadow: 0 0 8px 2px #eee;
  background: none;
  color: #0078d7;
}

.left-content .menu-container .el-menu-item:hover .iconfont {
  color: #0078d7;
}

.left-content .menu-container .el-menu-item:hover .el-icon-more {
  display: block;
}

.menu-index {
  z-index: 9999;
  background-color: #0078d7;
  border: 0;
  z-index: 9;
  overflow: hidden;
  width: 60px;
  text-align: center;
}

.menu-index .el-badge__content {
  border: 0;
}

.menu-index .left-user {
  text-align: center;
  position: relative;
}

.menu-index .left-user .user-img {
  width: 42px;
  height: 42px;
  margin: 10px auto 5px auto;
  line-height: 34px;
  border: 3px solid #73b6fd;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  overflow: hidden;
  background: #fff;
  cursor: pointer;
  filter: alpha(opacity=95);
  /* IE */
  -moz-opacity: 0.95;
  /* 老版Mozilla */
  -khtml-opacity: 0.95;
  /* 老版Safari */
  opacity: 0.95;
  /* 支持opacity的浏览器*/
  position: relative;
  z-index: 99;
}

.menu-index .left-user .user-img:hover {
  filter: alpha(opacity=100);
  /* IE */
  -moz-opacity: 1;
  /* 老版Mozilla */
  -khtml-opacity: 1;
  /* 老版Safari */
  opacity: 1;
  /* 支持opacity的浏览器*/
}

.menu-index .left-user img {
  max-width: 100%;
  vertical-align: middle;
}

.menu-index .left-user::after {
  content: "";
  display: block;
  width: 60%;
  top: 4px;
  position: absolute;
  left: 50%;
  background: #000000;
  z-index: 9;
  height: 100%;
  filter: alpha(opacity=10);
  /* IE */
  -moz-opacity: 0.1;
  /* 老版Mozilla */
  -khtml-opacity: 0.1;
  /* 老版Safari */
  opacity: 0.1;
  /* 支持opacity的浏览器*/
  -webkit-transform: rotate(20deg);
  transform: rotate(20deg);
}

.menu-index .first-on .user-img {
  filter: alpha(opacity=100);
  /* IE */
  -moz-opacity: 1;
  /* 老版Mozilla */
  -khtml-opacity: 1;
  /* 老版Safari */
  opacity: 1;
  /* 支持opacity的浏览器*/
  border-color: #e0e0e0;
}

.menu-index .bank-img {
  height: 200px;
  line-height: 200px;
  text-align: center;
  background: #fafafa;
  border: 1px solid #e7e7e7;
}

.menu-index .bank-img img {
  max-width: 100%;
}

.menu-index .left-bottom {
  position: absolute;
  bottom: 50px;
  width: 100%;
}

.menu-index .left-bottom:nth-last-of-type(4) {
  bottom: 140px;
}

.menu-index .left-bottom:nth-last-of-type(3) {
  bottom: 90px;
}

.menu-index .left-bottom:nth-last-of-type(2) {
  bottom: 50px;
}

.menu-index .left-sys {
  position: absolute;
  bottom: 10px;
  width: 100%;
}

.menu-index .el-menu-item {
  padding: 14px 0;
  height: auto;
  line-height: inherit;
}

.menu-index .el-menu-item i {
  color: #8bc3ff;
  font-size: 26px;
  display: block;
  width: 100%;
  position: relative;
}

.menu-index .el-menu-item i::after {
  content: "";
  display: block;
  width: 55%;
  top: 7px;
  position: absolute;
  left: 50%;
  background: #000000;
  z-index: 999;
  height: 88%;
  filter: alpha(opacity=10);
  /* IE */
  -moz-opacity: 0.1;
  /* 老版Mozilla */
  -khtml-opacity: 0.1;
  /* 老版Safari */
  opacity: 0.1;
  /* 支持opacity的浏览器*/
  transform: rotate(20deg);
}

.menu-index .el-menu-item .font {
  font-size: 12px;
  color: #8bc3ff;
  padding-top: 2px;
  display: block;
}

.menu-index .el-menu-item .el-icon-third-wangpan,
.menu-index .el-menu-item .el-icon-third-wangpan-jihuo {
  font-size: 15px;
}

.menu-index .el-menu-item .el-icon-third-gongju- {
  font-size: 23px;
}

.menu-index .el-badge {
  position: absolute;
  top: -12px;
}

.menu-index .item {
  right: 3px;
}

.menu-index .is-active,
.menu-index .el-menu-item:focus,
.menu-index .el-menu-item:hover {
  background: none;
}

.menu-index .is-active .iconfont,
.menu-index .is-active .font,
.menu-index .el-menu-item:focus .iconfont,
.menu-index .el-menu-item:focus .font,
.menu-index .el-menu-item:hover .iconfont,
.menu-index .el-menu-item:hover .font {
  color: #fff;
}

.menu-index .is-active .font,
.menu-index .el-menu-item:focus .font,
.menu-index .el-menu-item:hover .font {
  font-weight: bold;
}

.menu-index-list-array .left-sys,
.menu-index-list-array .left-bottom {
  position: static;
}

.navCollapsed .sidebar {
  width: 60px !important;
  margin-left: -60px !important;
}

.navCollapsed .sidebar .iconfont + span {
  display: none;
}

.navCollapsed .sidebar .el-submenu__icon-arrow {
  display: none;
}

.shrink-dise .sidebar {
  position: absolute;
  height: 100%;
}

.main-content {
  -webkit-transition: left 0.25s;
  transition: left 0.25s;
  padding: 0 10px 10px 10px;
  height: 900px;
  background: #f9f9f9;
  overflow: auto;
  position: relative;
}

.Noborder {
  border-top: 0;
}

.aside_top_header {
  padding: 0 5px;
  line-height: 30px;
  font-size: 14px;
  background-color: #f5f5f5;
  color: #111;
}

.aside_top_header i {
  padding: 0 5px;
  cursor: pointer;
}

.aside_top_header i:hover,
.aside_top_header .el-dropdown-link:hover {
  color: #409eff;
}

.aside_top_header .el-icon-arrow-down {
  padding: 0;
}

.aside_top_header .right-function {
  text-align: right;
}

.aside_top_header .right-function .el-icon-close:hover {
  color: #f45454;
}

.aside_top_header .right-function .hk-admin {
  padding: 2px 5px;
  border-radius: 8px;
  margin-right: 5px;
  color: #606266;
  cursor: pointer;
}

.aside_top_header .right-function .hk-admin:hover {
  color: #0078d7;
}

.aside_top {
  z-index: 1000;
  transition: left 0.25s;
  background: #f9f9f9;
  position: relative;
}

.aside_top .layout-header-title {
  font-size: 1rem;
  color: #333;
}

.aside_top .layout-header-title .prefix-icon {
  margin-right: 10px;
}

.aside_top a {
  color: #111;
  text-decoration: none;
}

.aside_top .thy-nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  line-height: normal;
}

.aside_top .one_nav .el-menu {
  background: none;
  border: 0;
}

.aside_top .one_nav .justify-content {
  position: relative;
  z-index: 9;
  background: #fff;
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  margin-bottom: 10px;
}

.aside_top .one_nav .justify-content .el-menu-item {
  color: #808080;
  position: relative;
}

.aside_top .one_nav .justify-content .el-menu-item .el-icon-caret-bottom {
  display: none;
}

.aside_top .one_nav .justify-content .is-active,
.aside_top .one_nav .justify-content .el-menu-item.is-active:hover {
  color: #0078d7;
}

.aside_top .one_nav .justify-content .is-active .el-icon-caret-bottom,
.aside_top .one_nav .justify-content .el-menu-item.is-active:hover .el-icon-caret-bottom {
  position: absolute;
  bottom: -12px;
  left: 35%;
  display: block;
}

.aside_top .one_nav .justify-content .el-menu-item,
.aside_top .one_nav .justify-content .el-menu-item:hover {
  height: 36px;
  line-height: 36px;
  padding: 0 12px;
}

.aside_top .one_nav .justify-content .el-menu-item:hover {
  color: #0078d7;
}

.aside_top .second_nav .justify-content {
  background: #f5f7fa;
  margin: 0 10px;
}

.aside_top .second_nav .justify-content .el-menu-item,
.aside_top .second_nav .justify-content .el-menu-item:hover {
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
}

.aside_top .second_nav .justify-content .el-menu-item.is-active {
  background: #fff;
}

.aside_top .second_nav .justify-content .el-menu-item:hover {
  color: #0078d7;
}

.aside_top .second_nav .thy-nav {
  border: 1px solid #ddd;
}

.dep-title {
  padding: 8px 10px;
  border-bottom: 3px solid #0078d7;
  color: #0078d7;
  font-size: 18px;
}

.user-avatar {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  overflow: hidden;
}

.left-column-switch {
  position: absolute;
  top: 42px;
  left: -5px;
  z-index: 99;
}

.hk-left-column-abs {
  position: absolute;
  z-index: 99;
}

.hk-approvalSet {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
}

.hk-approvalSet .hk-user-all {
  position: relative;
  padding: 3px;
  border: 1px solid #eee;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 5px;
}

.hk-approvalSet .hk-user-all .hk-instructions {
  position: absolute;
  top: -6px;
  left: -4px;
}

.hk-approvalSet .hk-user-all .hk-app-user {
  padding: 5px 10px;
  background: #f5f5f5;
  border-radius: 5px;
  margin: 3px;
}

.hk-approvalSet .hk-user-all .hk-top-icon {
  position: absolute;
  right: -4px;
  top: -4px;
  display: none;
  color: #bfbfbf;
}

.hk-approvalSet .hk-user-all .hk-top-icon:hover {
  color: #f60;
  cursor: pointer;
}

.hk-approvalSet .hk-user-all:hover {
  transform: translate3d(0, -2px, 0);
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
}

.hk-approvalSet .hk-user-all:hover .hk-top-icon {
  display: block;
}

.hk-approvalSet .hk-arrow {
  font-size: 30px;
  color: #ccc;
}

.hk-approvalSet .hk-approval-icon {
  font-size: 45px;
  color: #daeafd;
  margin: 5px;
  position: relative;
}

.hk-approvalSet .hk-approval-icon .hk-app-icon {
  position: absolute;
  right: 0;
  top: 0;
}

.hk-approvalSet .hk-approval-icon:hover {
  color: #0078d7;
  cursor: pointer;
}

.hk-approval {
  padding: 5px 10px;
}

.hk-approval img {
  max-width: 100%;
}

.hk-approval .flexLi {
  display: flex;
  padding: 15px 5px 5px 5px;
  margin: 0 5px;
  border: 1px solid #eee;
  overflow: hidden;
  border-radius: 5px;
}

.hk-approval .flexLi .username {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.hk-approval .liBg {
  background: #f5f5f5;
  margin-right: 10px;
  position: relative;
}

.hk-approval .hk-instructions {
  position: absolute;
  width: 100%;
  text-align: center;
  top: -4px;
  font-size: 12px;
  color: #f06431;
}

.hk-approval li {
  text-align: center;
  position: relative;
  float: left;
}

.hk-approval .hk-li-user {
  position: relative;
  width: 70px;
}

.hk-approval .hk-arrow {
  font-size: 30px;
  line-height: 80px;
  color: #ccc;
}

.hk-approval .hk-userImg {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #ddd;
  overflow: hidden;
  background: #fafafa;
  margin: 0 auto;
}

.hk-approval .hk-top-icon {
  position: absolute;
  right: 0;
  top: 0;
}

.hk-approval .hk-top-icon:hover {
  color: #f60;
}

.hk-approval .hk-bottom-icon {
  position: absolute;
  right: 0;
}

.hk-approval .hk-li-add {
  margin-left: 10px;
  margin-bottom: 15px;
}

.hk-approval .hk-approval-icon {
  line-height: 87px;
  font-size: 55px;
  color: #daeafd;
}

.hk-approval .hk-approval-icon:hover {
  color: #0078d7;
  cursor: pointer;
}

.hk-approval .hk-time {
  line-height: 1.2;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.hk-approval-des .hk-title {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.hk-approval-des .hk-title .hk-userInfo {
  display: flex;
  flex-wrap: nowrap;
}

.hk-approval-des .hk-title .hk-userImg {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 1px solid #ddd;
  overflow: hidden;
  background: #fafafa;
}

.hk-approval-des img {
  max-width: 100%;
}

/*---表格样式---*/
.hk-table-overflow {
  width: 962px;
  overflow: auto;
}

.hk-table-overflow::-webkit-scrollbar {
  /*滚动条整体样式*/
  height: 10px;
}

.hk-table-black .hk-table-border th, .hk-table-black .hk-table-border td {
  border-color: black;
}

.hk-table {
  width: 100%;
  border: 0;
  margin: 0;
  border-collapse: collapse;
  border-spacing: 0;
}

.hk-table tr .hk-td-hide {
  display: none;
}

.hk-table tr:hover .hk-td-show {
  display: none;
}

.hk-table tr:hover .hk-td-hide {
  display: block;
}

.hk-table td {
  box-sizing: border-box;
  text-overflow: ellipsis;
}

.hk-table td.el-table__expanded-cell {
  padding: 15px;
}

.hk-table td.el-table__expanded-cell .el-form-item__label,
.hk-table td.el-table__expanded-cell .el-form-item__content {
  line-height: 24px;
}

.hk-table .fnBtn {
  position: absolute;
  top: 0;
  right: 0;
}

.hk-table .no-border {
  border: 0;
}

.hk-table .p0 {
  padding: 0;
}

.hk-table .td-b0 {
  border: 0;
}

.hk-table .td-bt0 {
  border-top: 0;
}

.hk-table .td-bb0 {
  border-bottom: 0;
}

.hk-table .td-bl0 {
  border-left: 0;
}

.hk-table .td-br0 {
  border-right: 0;
}

.hk-table .el-checkbox__input.is-checked + .el-checkbox__label {
  color: #888;
}

.hk-table .hk-w180 {
  width: 180px;
}

.hk-table .hk-w180 .el-checkbox__input.is-checked + .el-checkbox__label {
  font-weight: bold;
  color: #444;
}

.hk-table-td-close {
  position: absolute;
  right: 3px;
  margin-top: 5px;
}

.hk-table.mt5 {
  margin-top: 5px;
}

.hk-table.mt10 {
  margin-top: 10px;
}

.hk-table.mb5 {
  margin-bottom: 5px;
}

.hk-table-gray .has-gutter th {
  background: #f7f7f7;
  color: #222;
}

table img {
  vertical-align: middle;
}

.hk-table-line50 {
  line-height: 50px;
}

.hk-table-userImg {
  height: 50px;
  width: 50px;
  line-height: 50px;
  border-radius: 100%;
  border: 5px solid #daeafd;
  text-align: center;
  background: #0078d7;
  float: left;
  overflow: hidden;
}

.hk-table-userImg img {
  max-width: 100%;
}

.hk-table-icon {
  margin: 0 auto;
  height: 50px;
  width: 50px;
  line-height: 50px;
  border-radius: 10px;
  border: 1px solid #fafafa;
  text-align: center;
  overflow: hidden;
}

.hk-table-icon i {
  font-size: 50px;
}

.hk-table-icon img {
  max-width: 100%;
}

.trCloseBg {
  background: #f1f1f1;
}

.trCloseBg .hk-table-icon {
  color: #d8d8d8;
}

.hk-dropdown-icon {
  text-align: center;
}

.hk-dropdown-icon .el-dropdown-menu__item {
  font-size: 20px;
}

.hk-table-border th,
.hk-table-border td {
  border: 1px solid #ebeef5;
  padding: 5px;
  vertical-align: middle;
}

.hk-table-border .vtop {
  vertical-align: top;
}

.hk-table-dashed th, .hk-table-dashed td {
  padding: 5px;
  border: 1px dashed #d6d6d6;
  vertical-align: middle;
}

.hk-table-bh th,
.hk-table-bh td {
  border-color: #000;
}

.hk-table-top td {
  vertical-align: top;
}

.hk-no-width {
  width: auto;
}

.hk-table-add tr:nth-child(odd) {
  background: #fafafa;
}

.hk-table-hover tbody tr:hover {
  background: #f5f7fa;
}

.hk-table-hover tbody tr.no-hover:hover {
  background: none;
}

.hk-table-pb5 td {
  padding-bottom: 5px;
}

.hk-table-p5 td {
  padding: 5px;
}

.hk-table-p2 td {
  padding: 2px;
}

.hk-table-td-title {
  color: #777777;
  line-height: 26px;
}

.hk-table-small thead th {
  background: #f9fbff;
  color: #444;
}

.hk-table-small th,
.hk-table-small td {
  padding: 5px 0;
}

.hk-table-small .el-table-column--selection .cell {
  padding-left: 5px;
  padding-right: 0;
}

.hk-table-td-p10 th,
.hk-table-td-p10 td {
  padding: 10px;
}

.hk-table-expand {
  font-size: 0;
}

.hk-table-expand label {
  color: #99a9bf;
  min-width: 100px;
}

.hk-table-expand .el-form-item {
  margin-right: 0;
  margin-bottom: 0;
  width: 100%;
}

.hk-table-expand .el-form-item__label {
  text-align: right;
}

.hk-table-expand-input .el-form-item__content, .hk-table-expand-input .el-select {
  min-width: 300px;
}

.hk-table-expand-input .el-form-item {
  margin-right: 0;
  margin-bottom: 10px;
  width: 100%;
}

.hk-table-expand-input .el-form-item__label {
  text-align: right;
}

.hk-table-td-top th,
.hk-table-td-top td {
  vertical-align: top;
}

.hk-table-print .thead {
  display: table-header-group;
}

.hk-table-print .tfoot {
  display: table-footer-group;
}

.hb_bp th {
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.remark td {
  font-size: 12px;
  padding: 0;
  line-height: 1.3;
}

.hk-details-content {
  font-size: 16px;
  line-height: 1.8;
}

.always {
  page-break-after: always;
}

.hk-sigin {
  position: absolute;
  right: 20px;
  top: -20px;
}

.hk-timeline .el-avatar {
  vertical-align: middle;
  height: 30px;
  line-height: 30px;
  width: 30px;
}

.hk-write-fillin {
  background: #f5f7fa;
  padding: 15px;
  border: 1px solid #ddd;
}

.hk-fullowup-on.is-plain {
  background: #409eff;
  border-color: #409eff;
  color: #fff;
}

.hk-review-on.is-plain {
  background: #f56c6c;
  border-color: #f56c6c;
  color: #fff;
}

.hk-review .el-form-item__content {
  line-height: inherit;
}

.btn-green {
  color: #009688;
}

/*---上传模块---*/
.upload-main,
.user-details-img {
  position: relative;
  border: 1px dashed transparent;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.upload-main img,
.user-details-img img {
  border-radius: 5px;
  border: 1px solid #eee;
  padding: 10px;
  max-width: 100%;
}

.upload-main .upload-img,
.user-details-img .upload-img {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #fbfdff;
  filter: alpha(opacity=0);
  /* IE */
  -moz-opacity: 0;
  /* 老版Mozilla */
  -khtml-opacity: 0;
  /* 老版Safari */
  opacity: 0;
  /* 支持opacity的浏览器*/
  text-align: center;
  color: #e0e0e0;
  cursor: pointer;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.upload-main .upload-img i,
.user-details-img .upload-img i {
  font-size: 50px;
}

.upload-main:hover {
  border-color: #c0ccda;
}

.upload-main:hover .upload-img {
  color: #0078d7;
  filter: alpha(opacity=100);
  /* IE */
  -moz-opacity: 1;
  /* 老版Mozilla */
  -khtml-opacity: 1;
  /* 老版Safari */
  opacity: 1;
  /* 支持opacity的浏览器*/
}

.hk-upload {
  display: inline-block;
}

.hk-upload-list {
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}

.hk-upload-list li,
.hk-upload-list div {
  float: left;
  width: 42px;
  height: 42px;
  line-height: 38px;
  position: relative;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-right: 5px;
  text-align: center;
  background: #fff;
}

.hk-upload-list li .hk-upload-icon,
.hk-upload-list div .hk-upload-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}

.hk-upload-list li .hk-upload-icon i,
.hk-upload-list div .hk-upload-icon i {
  position: absolute;
}

.hk-upload-list li .hk-upload-icon .el-icon-close,
.hk-upload-list div .hk-upload-icon .el-icon-close {
  top: -6px;
  right: -6px;
  border-radius: 100%;
  filter: alpha(opacity=80);
  /* IE */
  -moz-opacity: 0.8;
  /* 老版Mozilla */
  -khtml-opacity: 0.8;
  /* 老版Safari */
  opacity: 0.8;
  /* 支持opacity的浏览器*/
  border: 1px solid #ddd;
  background: #fff;
}

.hk-upload-list li .hk-upload-icon .el-icon-zoom-in,
.hk-upload-list li .hk-upload-icon .el-icon-download,
.hk-upload-list div .hk-upload-icon .el-icon-zoom-in,
.hk-upload-list div .hk-upload-icon .el-icon-download {
  width: 100%;
  height: 100%;
  line-height: 2;
  left: 0;
  top: 0;
}

.hk-upload-list li .hk-upload-icon .el-icon-zoom-in,
.hk-upload-list div .hk-upload-icon .el-icon-zoom-in {
  line-height: 2.9;
}

.hk-upload-list li:hover .hk-upload-icon,
.hk-upload-list div:hover .hk-upload-icon {
  display: block;
  background: rgba(255, 255, 255, 0.8);
}

.hk-upload-list li:hover .hk-upload-icon i.el-icon-close:hover,
.hk-upload-list div:hover .hk-upload-icon i.el-icon-close:hover {
  background: #f60;
  color: #fff;
  cursor: pointer;
  filter: alpha(opacity=100);
  /* IE */
  -moz-opacity: 1;
  /* 老版Mozilla */
  -khtml-opacity: 1;
  /* 老版Safari */
  opacity: 1;
  /* 支持opacity的浏览器*/
  display: block;
}

.hk-upload-list li:hover .hk-upload-icon .el-icon-zoom-in,
.hk-upload-list li:hover .hk-upload-icon .el-icon-download,
.hk-upload-list div:hover .hk-upload-icon .el-icon-zoom-in,
.hk-upload-list div:hover .hk-upload-icon .el-icon-download {
  cursor: pointer;
  color: #0078d7;
}

.hk-upload-list img {
  width: 100%;
  height: 100%;
}

.avatar-uploader .el-upload {
  border: 1px dashed #d9d9d9;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  display: block;
  color: #bdbdbd;
}

.avatar-uploader .el-upload:hover {
  border-color: #409eff;
}

.avatar-uploader-icon {
  font-size: 20px;
  color: #8c939d;
  text-align: center;
}

.upload-list .el-upload-list__item {
  border: 1px solid #eee;
  padding: 10px;
  background: #f0f9eb;
}

.hk-upload .el-upload--picture-card {
  height: auto;
  width: auto;
  line-height: normal;
  border: 0;
}

.hk-upload .el-upload-list--picture-card .el-upload-list__item {
  height: 32px;
  width: 32px;
  border: 0;
  margin-bottom: 0;
  margin-top: 0;
}

.hk-upload .el-upload-list--picture-card .el-upload-list__item img {
  max-width: 100%;
}

/*---通用组件---*/
.hk-tool-record {
  position: absolute;
  right: 5px;
  top: 15px;
  font-size: 16px;
  display: none;
}

.el-card__body:hover .hk-tool-record,
.hk-info-list:hover .hk-info-record {
  display: block;
}

.hk-ul-list li {
  padding: 3px 10px;
  border-bottom: 1px solid #fff;
}

.hk-ul-list li .hk-right {
  float: right;
  margin-left: 10px;
  display: none;
}

.hk-ul-list li:hover,
.hk-ul-list li.on {
  cursor: pointer;
  background: #f1f1f1;
}

.hk-ul-list li:hover .hk-right {
  display: block;
}

.hk-selected-ul li {
  border-bottom: 1px solid #fff;
  padding: 5px;
  line-height: 26px;
}

.hk-selected-ul li .el-icon-circle-close {
  float: right;
  margin-top: 6px;
  display: none;
}

.hk-selected-ul li:hover {
  background: #f5f7fa;
}

.hk-selected-ul li:hover .el-icon-circle-close {
  display: block;
  cursor: pointer;
}

.hk-selected-ul li .el-icon-circle-close:hover {
  color: red;
}

.hk-dep-ul {
  height: 288px;
  overflow: auto;
}

.hk-dep-ul li {
  line-height: 26px;
}

.hk-dep-ul .hk-depli-hover {
  padding: 0 5px;
}

.hk-dep-ul .hk-depli-hover .el-checkbox:last-of-type {
  vertical-align: middle;
  display: block;
}

.hk-dep-ul .hk-depli-hover:hover {
  background: #fff;
  color: #0078d7;
}

.hk-dep-ul i {
  color: #c0c4cc;
  cursor: pointer;
}

.hk-dep-ul i:hover {
  color: #f60;
}

.hk-dep-ul ul {
  margin-left: 20px;
}

.el-tree-node__label {
  padding-left: 5px;
}

.hk-dialog-w1024 .el-drawer {
  min-width: 1024px;
  max-width: 1024px;
}

.hk-dialog-w596 .el-drawer {
  min-width: 596px;
  max-width: 596px;
}

.hk-dialog-w200 .el-drawer {
  min-width: 200px;
  max-width: 500px;
}

.hk-dialog-body img {
  max-width: 100%;
}

.hk-dialog__wrapper {
  overflow-x: hidden;
  padding-top: 30px;
}

.hk-dialog__wrapper .el-drawer__header {
  border-bottom: 1px solid #eee;
  border-top: 1px solid #eee;
  padding: 8px 12px;
  background: #f5f7fa;
  margin-bottom: 0;
  color: #444;
  font-size: 16px;
}

.hk-dialog__wrapper .el-drawer__body {
  padding: 15px;
  overflow: auto;
  position: relative;
}

.hk-dialog__wrapper .hk-drawer-footer {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 30%;
  background: #f8f8f8;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
  padding: 5px 15px 3px 15px;
}

.hk-dialog__wrapper .hk-drawer-footer .hk-drawer-icon {
  text-align: center;
  color: #999;
}

.hk-dialog__wrapper .hk-drawer-footer .hk-drawer-icon i {
  display: block;
  font-size: 22px;
  color: #666;
}

.hk-dialog__wrapper .hk-drawer-footer .hk-drawer-icon:hover {
  color: #0078d7;
  cursor: pointer;
}

.hk-dialog__wrapper .hk-drawer-footer .hk-drawer-icon:hover i {
  color: #0078d7;
}

.hk-dialog__wrapper .hk-drawer-footer .el-button {
  min-width: 90px;
}

.hk-select-w80 .el-select .el-input {
  min-width: 80px;
}

.hk-select-w120 .el-select .el-input {
  min-width: 120px;
}

.hk-filter-icon {
  background-color: #f1f1f1;
  transition: all 0.25s;
  cursor: pointer;
  border: 1px solid #ddd;
  padding: 0 20px;
  border-radius: 6px;
  z-index: 99;
}

.hk-filter-icon:hover {
  background: #0078d7;
  color: #fff;
  border-color: #fff;
  padding: 2px 20px;
  bottom: -10px;
  border-radius: 10px;
}

.hk-filter {
  position: relative;
}

.hk-filter .hk-filter-tabs {
  display: block;
}

.hk-filter .hk-divider-mt10b5 {
  display: none;
}

.hk-filter-show {
  margin-top: 10px;
}

.hk-filter-show .hk-filter-row {
  margin-top: 5px;
}

.hk-filter-show .hk-filter-row,
.hk-filter-show .hk-divider-mt10b5 {
  display: block;
}

.hk-filter-show .hk-filter-bottom {
  display: none;
}

.hk-filter-bottom {
  position: absolute;
  left: 48%;
  background-color: #f1f1f1;
  transition: all 0.25s;
  border: 1px solid #ddd;
  padding: 0 20px;
  border-radius: 0 0 100% 100%;
  top: -1px;
  z-index: 9;
}

.hk-filter-bottom:hover {
  color: #fff;
  background-color: #0078d7;
  padding: 2px 20px;
  border-color: #fff;
  cursor: pointer;
}

.hk-filter-on {
  color: #fff;
  background-color: #0078d7;
  border: 0;
}

.hk-filter-row {
  display: none;
  padding-bottom: 3px;
  margin-bottom: 3px;
}

.hk-filter-row .hk-filter-left {
  color: #829393;
  text-align: center;
}

.hk-filter-row li {
  float: left;
  color: #444;
  min-width: 80px;
  text-align: center;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  margin-left: 1px;
  margin-bottom: 1px;
}

.hk-filter-row .active,
.hk-filter-row li:hover {
  background: #0078d7;
  color: #fff;
  cursor: pointer;
}

.hk-filter-row .no-hover:hover {
  color: #829393;
  background: none;
}

.hk-filter-row .tab {
  margin-right: 5px;
}

.hk-filter-row .tab:hover .tabs {
  background: #eee;
  border-color: #ddd;
}

.hk-filter-row .tabs {
  background: #fafafa;
  border: 1px solid #eee;
  border-radius: 30px;
  padding: 2px 5px;
  color: #829393;
}

.hk-filter-row .tabs i {
  margin-left: 3px;
}

.hk-filter-row .tabs i:hover {
  cursor: pointer;
  color: #f60;
}

.hk-tab-slot-label .el-badge__content {
  top: 8px;
}

.hk-cus-contact li {
  line-height: 1.5;
}

.hk-cus-contact span {
  color: #999;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .hk-filter-row .nowrap {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 24px;
    position: relative;
  }
  .hk-filter-row .nowrap .hk-more {
    position: absolute;
    right: 5px;
    top: 5px;
    display: block;
  }
  .hk-filter-show .nowrap {
    overflow: auto;
    white-space: normal;
    text-overflow: string;
    height: auto;
  }
  .hk-filter-show .nowrap .hk-more {
    display: none;
  }
  .hk-filter-tabs {
    padding-bottom: 12px;
  }
}

/*打印*/
@media print {
  html {
    background-color: #fff;
  }
  .noprint,
  title {
    display: none;
  }
  .nextpage {
    page-break-after: always;
  }
  /*分页*/
  a[href]:after {
    content: none !important;
  }
  /*打印去除href链接*/
  @page {
    size: A4 portrait;
    margin: 0.5cm 0.5cm;
  }
}
